{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'tentangkami/css/tentangkami.css' %}">
{% endblock %}
{% block content %} 
<section id="header" class="d-flex b-green position-relative" style="margin-bottom: 20px;">
    <div class="d-flex align-items-center position-relative z-1">
        <h1>Tentang <br>Kami</h1>
    </div>  
    <img src="{% static 'tentangkami/lamp.png' %}" class="position-absolute">
</section>
  
<section>
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-5" >
            <img src="{% static 'tentangkami/coffee.jpg'%}" alt="FotoKopi" style="height: 82%; width: 100%;">
        </div>
        <div class="col-md-7 ">
            <p style="font-size: 3rem;">Cerita Kami</p>
            <p style="font-size: 1rem;" >MatchA Drink merupakan sebuah startup retail minuman yang ingin menyajikan minuman high quality untuk para pelanggannya. 
                Nama MatchA Drink yang diambil dari Match A Drink yang berarti para pelanggan dapat memesan minuman sebebasnya . Kami ingin eksistensi kami akan membuat standar baru minuman berkualitas untuk konsumen.
                MatchA Drink dibuat dari hasil pemikiran kami tentang minuman yang dapat dipesan online. </p>
        </div>
    </div> 
    
    <div class ="row" style="margin-bottom: 60px;">
        <div class ="col-sm">
            <form method="POST">
                <h1>Lebih Dekat dengan Kami!</h1>
                <p for ="input">Berlangganan <i>Newsletter</i> kami</p>
                {% csrf_token %}
                {{ generated_form.email }}
                <div class="mt-2">
                    <button class ="button b-green" type="submit" id="input">Yay!</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
