#cart {
  font-weight: bold;
}
#cart .card {
  width: 100%;
  max-width: 700px;
  border-radius: 40px;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
}
#cart .image {
  height: 4rem;
}
#cart .name {
  font-size: 1.333rem;
  text-align: left;
}
#subtotal {
  font-size: 1.5rem;
  border-radius: 20px;
}
a.button:hover {
  color: #fff;
}
