#menu .container-fluid {
  padding: 0;
}
#menu .menu {
  margin: 60px 0;
}
#menu .row {
  margin-top: 40px;
  margin-bottom: 40px;
}
#menu .name {
  font-size: 1.333rem;
  font-weight: bold;
}
#menu .price {
  font-weight: 600;
}
#menu button[type=submit] {
  display: block;
  margin: 0 auto;
}
#menu .input-number {
  width: 205px;
  height: 50px;
}
#menu input[type="number"] {
  font-size: 1.333rem;
  font-weight: bold;
  width: 205px;
  height: 50px;
  border: none;
  border-radius: 25px;
  text-align: center;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
#menu input[type=number]::-webkit-inner-spin-button,
#menu input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.btn-plus, .btn-min {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: unset;
}
