<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Match'A Drink{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock %}
  </head>
  <body>
    <div id="container" class="position-relative">
      <!-- Navbar -->
      <div class="fixed-top bg-white">
        <nav class="navbar navbar-default navbar-expand-md navbar-light">
          <a class="navbar-brand" href="{% url 'web:index' %}">Match'A Drink</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="ml-auto navbar-nav">
              {% with url_name=request.resolver_match.url_name %}
              <li class="nav-item">
                <a class="nav-link{% if url_name == 'index' %} active{% endif %}" href="{% url 'web:index' %}">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if url_name == 'menu' %} active{% endif %}" href="{% url 'menu:menu' %}">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if url_name == 'tentang' %} active{% endif %}" href="{% url 'tentangkami:tentangkami'%}">Tentang Kami</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if url_name == 'testimoni' %} active{% endif %}" href="{% url 'testimonial:testimonial' %}">Testimoni</a>
              </li>
              {% endwith %}
            </ul>
          </div>
        </nav>
      </div>
      <!-- Content -->
      {% block content %}{% endblock %}
      <!-- Footer -->
      <footer class="position-absolute b-darkgreen d-flex justify-content-center align-items-center">
        <div class="font-weight-bold">
          © Lulus Pepew Aamiin 2019
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
  </body>
</html>
