{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'menu/cart.css' %}">
{% endblock %}

{% block content %}
<section id="cart">
  <div>
    <h1>Pesanan</h1>
    <div class="card p-4 my-4">
      <div class="container-fluid">
        {% for order in orders %}
        <div class="row align-items-center my-3">
          <div class="col-4 col-md-2">
            <img class="image" src="{{ order.menu.image.url }}">
          </div>
          <div class="name col-8 col-md-6">
            {{ order.menu.name }}
          </div>
          <div class="col-4 col-md-1 text-right">
            {{ order.amount }}
          </div>
          <div class="col-8 col-md-3">
            Rp {{ order.menu.price|intcomma }}
          </div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-end">
          <div id="subtotal" class="py-3 px-4 b-darkgreen d-flex flex-column flex-md-row">
            <div>
            Subtotal
            </div>
            <div class="ml-md-5">
              Rp {{ subtotal|intcomma }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons mt-4">
      <a href="{% url 'menu:menu' %}" class="button b-green">Pesan</a>
      <a href="{% url 'menu:menu' %}" class="button b-white">Kembali</a>
    </div>
  </div>
</section>
{% endblock %}
