{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'menu/menu.css' %}">
<style>
.btn-plus {
  background-image: url("{% static 'menu/count_plus.svg' %}");
  right: 0;
}
.btn-min {
  background-image: url("{% static 'menu/count_min.svg' %}");
  left: 0;
}
</style>
{% endblock %}

{% block content %}
<section id="header" class="d-flex b-green position-relative">
  <div class="d-flex align-items-center position-relative z-1">
    <h1>Yuk Pesan</h1>
  </div>
  <img src="{% static 'menu/menu_photo.png' %}" class="position-absolute">
</section>
<section id="menu">
  <div>
    <form method="POST">
      {% csrf_token %}
      {{ form.errors }}
      <div class="menu">
        <h1>Menu Favorit</h1>
        <div class="container-fluid">
          {% for menu in favorite_menu %}
          <div class="row align-items-center">
            <div class="col-6 col-md-2">
              <img src="{{ menu.image.url }}">
            </div>
            <div class="col-6 col-md-2">
              <span class="name">{{ menu.name }}</span>
              <br>
              <span class="price">Rp {{ menu.price|intcomma }}</span>
            </div>
            <div class="desc col-6 col-md-5">
              {{ menu.description }}
            </div>
            <div class="col-6 col-md-3">
              <div class="input-number position-relative">
                <button onclick="this.parentNode.querySelector('input').stepDown()" class="btn-min"></button>
                {{ menu.form_field }}
                <button onclick="this.parentNode.querySelector('input').stepUp()" class="btn-plus"></button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="menu">
        <h1>Menu Lainnya</h1>
        <div class="container-fluid">
          {% for menu in other_menu %}
          <div class="row align-items-center">
            <div class="col-6 col-md-2">
              <img src="{{ menu.image.url }}">
            </div>
            <div class="col-6 col-md-2">
              <span class="name">{{ menu.name }}</span>
              <br>
              <span class="price">Rp {{ menu.price|intcomma }}</span>
            </div>
            <div class="desc col-6 col-md-5">
              {{ menu.description }}
            </div>
            <div class="col-6 col-md-3">
              <div class="input-number position-relative">
                <button onclick="this.parentNode.querySelector('input').stepDown()" class="btn-min"></button>
                {{ menu.form_field }}
                <button onclick="this.parentNode.querySelector('input').stepUp()" class="btn-plus"></button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="my-5">
        <button type="submit" class="button b-green">Pesan</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block script %}
<script>
$('form').on('click', 'button:not([type="submit"])', function(e){
  e.preventDefault();
})
</script>
{% endblock %}
