{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'testimonial/style.css' %}">
{% endblock %}

{% block content %}
<section id="header" class="d-flex b-green position-relative">
    <div class="d-flex align-items-center position-relative z-1">
        <h1>Testimoni</h1>
    </div>
    <img src="{% static 'testimonial/testimonial_photo.png' %}" class="position-absolute">
</section>
<section id="testimonial" class="d-flex flex-column flex-md-row">
    <div class="row">
        <div class="col-md">
            <div class="col-mw">
                <form action='' method="POST">
                    {% csrf_token %}
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    <br>
                    {{ form.message.label_tag }}
                    {{ form.message }}
                    <br>
                    <input type="submit" class="button b-green" value="Submit">
                </form>
            </div>
        </div>
        <div class="col-md flex-row">
            {% for object in data %}
            <div class="card b-green mb-2 w-100">
                <h2>
                    {{ object.name }}
                </h2>
                <p>
                    {{ object.message }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section> 
{% endblock %}