{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'homepage/homepage.css' %}">
<style>
    .btn-selengkapnya {
        background-image: url("{% static 'homepage/selengkapnya.svg' %}");
        left: 0;
    }
</style>
{% endblock %}

{% block content %}
<section id="header" class="d-flex b-green position-relative">
  <div class="d-flex align-items-center position-relative z-1">
    <h1>
        Cari,
        <br>
        Pesan,
        <br>
        Minum.
    </h1>
  </div>

  <img src="{% static 'homepage/homepage_photo.png' %}" class="position-absolute">
</section>
<section id="homepage">

    <div>
        <div class="container-fluid">
            <div class="homepage">
                <h1>Menu Favorit</h1>

                <div class="row">
                    {% for fav in favorite_menu_home %}
                    <div class="col">
                        <div class="card">
                            <img src="{{ fav.image.url }}">
                                <div class="desc-card">
                                <h3>{{ fav.menu.name }}</h3>
                                <h5>Rp {{ fav.menu.price|intcomma }}</h5>
                                {{ fav.menu.description }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col align-items-center">
                        <div class="card">
                            <div class="card-body text-center">
                                <h3>Lihat <br> Selengkapnya</h3>
                                <a href="{% url 'menu:menu' %}">
                                    <button type="submit" class="btn-selengkapnya text-center"></button>
                                </a>
                            </div>
                            <div class="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if not request.session.user_name %}
<div class="position-fixed w-100 h-100 fixed-top">
    <div class="input">
        <form class="" action="{% url 'web:index' %}" method="POST">
            <div class="card-user align-items-center">
                {% csrf_token %}
                <!-- {{ form_user }} -->
                {{ form_user.user_name.label }}
                {{ form_user.user_name }}
                <input type="submit" class="button b-green" value="Oke">
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
